<header class="header">
  <div class="logo">
      <img src="https://prowly-uploads.s3.eu-west-1.amazonaws.com/uploads/5726/assets/73418/doctoralia-mktpl-symbol-turquoise.png" alt="logo aplicacion">
      
  </div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" _msthidden="A" _mstaria-label="320099" _msthash="277">
      <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#" _msttexthash="59059" _msthash="278">Inicio</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          _msttexthash="339885"
          _msthash="281"
        >
          Menú 1
        </a>
                  <ul class="dropdown-menu" _mstvisible="0">
                      <li _mstvisible="1">
                          <a class="dropdown-item" href="#" _msttexthash="93353" _msthash="282" _mstvisible="2">Submenú 1</a
            >
          </li>
          <li _mstvisible="1">
            <a
              class="dropdown-item"
              href="#"
              _msttexthash="180622"
              _msthash="283"
              _mstvisible="2"
              >Submenú 2</a
            >
          </li>
          <li _mstvisible="1">
            <a
              class="dropdown-item"
              href="#"
              _msttexthash="230152"
              _msthash="284"
              _mstvisible="2"
              >Submenú 3</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          _msttexthash="339885"
          _msthash="281"
        >
          Menú 2
        </a>
                          <ul class="dropdown-menu" _mstvisible="0">
                              <li _mstvisible="1">
                                  <a class="dropdown-item" href="#" _msttexthash="93353" _msthash="282" _mstvisible="2">Submenú 1</a
            >
          </li>
          <li _mstvisible="1">
            <a
              class="dropdown-item"
              href="#"
              _msttexthash="180622"
              _msthash="283"
              _mstvisible="2"
              >Submenú 2</a
            >
          </li>
          <li _mstvisible="1">
            <a
              class="dropdown-item"
              href="#"
              _msttexthash="230152"
              _msthash="284"
              _mstvisible="2"
              >Submenú 3</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        _msttexthash="339885"
        _msthash="281"
      >
        Menú 3
      </a>
                                  <ul class="dropdown-menu" _mstvisible="0">
                                      <li _mstvisible="1">
                                          <a class="dropdown-item" href="#" _msttexthash="93353" _msthash="282" _mstvisible="2">Submenú 1</a
          >
        </li>
        <li _mstvisible="1">
          <a
            class="dropdown-item"
            href="#"
            _msttexthash="180622"
            _msthash="283"
            _mstvisible="2"
            >Submenú 2</a
          >
        </li>
        <li _mstvisible="1">
          <a
            class="dropdown-item"
            href="#"
            _msttexthash="230152"
            _msthash="284"
            _mstvisible="2"
            >Submenú 3</a
          >
        </li>
      </ul>
    </li>
    </ul>
  </div>
</nav>
</header>