<footer id="footer">
  <div class="footer-newsletter">
      <div class="footer-top">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3 col-md-3 footer-contact">
                      <h4>Teléfono</h4>
                      <p>
                          Lorem Ipsum, Dolor Sit Amet Consectur Adipisicing Elit
                          <br>
                      </p>
                  </div>
                  <div class="col-lg-3 col-md-3 footer-info">
                      <h3>DERECHOS RESERVADOS</h3>
                      <h3>AVISO DE PRIVACIDAD</h3>
                  </div>
                  <div class="col-lg-3 col-md-3 footer-info">
                      <h3>DIRECCIÓN</h3>
                      <p>Calle: Lorem Ipsum, Dolor Sit Amet Consectur Adipisicing Elit. </p>
                  </div>
                  <div class="col-lg-3 col-md-3 footer-info">
                      <img src="https://prowly-uploads.s3.eu-west-1.amazonaws.com/uploads/5726/assets/73418/doctoralia-mktpl-symbol-turquoise.png" alt="logo aplicacion" width="35%">
                  </div>
                  <!-- <div class="social-links mt-3">
                      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                  </div>
                  <div class="col-lg-3 col-md-3 footer-info">
                      <h3>SIGUENOS EN NUESTRAS REDES</h3>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
  <div class="container">
  </div>
</footer>
<!-- End Footer -->